<!DOCTYPE gui>
<gui version="38" name="dolphin" translationDomain="kxmlgui5">
 <ToolBar noMerge="1" alreadyVisited="1" name="mainToolBar">
  <text context="@title:menu" translationDomain="dolphin">Main Toolbar</text>
  <Action name="go_back"/>
  <Action name="go_forward"/>
  <Action name="go_up"/>
  <Separator name="separator_0"/>
  <Action name="url_navigators"/>
  <Action name="toggle_search"/>
  <Action name="hamburger_menu"/>
 </ToolBar>
</gui>
